body {
	background-color: #FFFDE7;
	font-family: 'Lato';
	font-size: 12px;
}

.topbar {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #FF2978;
	height: 55px;
	border-bottom: 1px solid #d2d0d3;
}

.topbar_navi {
 	float: right;
	display: block;
	padding-right: 40px;
}

.topbar_navi_link {
	font-family: 'Lato';
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #FFFDE7;
	padding-left: 10px;
}

.topbar_hello {
	font-family: 'Parisienne';
	float: left;
	line-height: 60px;
	font-size: 30px;
	text-decoration: none;
	color: #FFFDE7;
	padding-left: 40px;
}

.topbar_navi_link:hover{
	color: #fbf4a5;

}

.landing_content {
	position: relative;
	height: 100vh;
	text-align: center;
	border-bottom: 1px solid #d2d0d3;
}

.landing_bg {
	background-image: url("../sources/landing_background.jpg");
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;

}

.landing_title {
	padding-top: 200px;
	color: #FFFDE7;
	font-style: oblique italic;
	font-size: 45px;
	text-decoration: none;
	text-shadow: 1px 1px #d2d0d3;
}

.landing_button {
	font-size: 20px;
	text-decoration: none;
	padding: 16px 48px;
	border: 2px solid #FFFDE7;
	background-color: #B20B49;
	color: #FFFDE7;
	cursor: pointer;
}

.landing_button:hover {
	background-color: transparent;
	color: fbf4a5;
}

.gallery_content {
	background-color: #FFFDE7;
	font-family: 'Lato';
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
	color: #FFFDE7;
	text-align: center;
	margin-bottom: 20px;
}

.gallery_pic {
	max-height: 200px;
	border: 2px solid #d2d0d3;
	margin: 2px;
	cursor: pointer;
}

.gallery_pic:hover{
    filter: grayscale(100);
}

.gallery_pic_zoom {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.gallery_pic_zoom_content {
	width: 70%;
	margin: 10% auto;
	cursor: pointer;
	font-size: 30px;
}

.gallery_pic_zoom_close {
	float: right;
}

.gallery_pic_zoom_chosen {
	max-width: 70%;
	max-height: 600px;
	border: 2px solid #d2d0d3;
}

.footer {
  display: block;
  padding: 2px 0;
  background-color: #B20B49;
  border-top: 2px solid #fafafa;
  text-align: center;
}

.footer__paragraph {
  color: #fafafa;
  font-family: "Parisienne", sans;
  font-size: 17px;
  font-weight: 400;
}

.footer__paragraph a {
	  color: #fafafa;
  font-family: "Parisienne", sans;
  font-size: 17px;
  font-weight: 400;
	  text-decoration: none;
}

.footer__icon {
  color: #FF2978;
}

h1 {
	color: #FF2978;
}

h2 {
	text-align: center;
	color: #B20B49;
	font-size: 30px;
}

h3 {
	color: #B20B49;
	color: #2C99B2;
}
